<h1>Cars</h1>

<% if (list.length) { %>
    <table>
        <tr>
            <th scope="column">Manufacturer</th>
            <th scope="column">Model</th>
            <th scope="column">Top Speed</th>
            <th scope="column">Acceleration</th>
            <th scope="column">Price</th>
            <th scope="column">Date added</th>
            <th scope="column">Sold?</th>
        </tr>
        <% list.forEach(item => { %>
            <tr>
                <td><%= item.manufacturer %></td>
                <td><%= item.model %></td>
                <td><%= item.topSpeed %></td>
                <td><%= item.acceleration %></td>
                <td><%= item.price %></td>
                <!-- TODO: format date -->
                <td><%= item.createdAt %></td>
                <td>
                    <% if (item.isSold) { %>
                        <button type="button" data-item-id="<%= item._id %>" class="btn-sold" disabled>Sold</button>
                    <% } else { %>
                        <button type="button" data-item-id="<%= item._id %>" class="btn-sold">Mark as sold</button>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </table>
<% } %>